@import "variables";
@import "globals";

h2 {
  &::after {
    background-color: $gsap-color;
  }
}

.logo {
    position: fixed;
    width: 400px;
    height: 400px;
  }
  
body {
    // background-color: black;
}

body { margin: 0; }
canvas { width: 100%; height: 100% }

.cta {
  background-color: $gsap-color;
  border: 4px solid $gsap-color;
  &:hover {
    color: $gsap-color;
  }
  &:focus,
  &:active {
    color: $gsap-color;
    box-shadow: 0 0 0 4px rgba($gsap-color,0.2);
  }
}