// Imports
@import "variables";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

// Scoped styling for this page
body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  //background-color: $white;
  display: grid;
  background-image: linear-gradient(-225deg, #e0e0e0 0%, #fff 48%, #e0e0e0 100%);
}

.introduction-header {
  text-align: center;
  margin: auto;
  width: fit-content;
  color: #333;
  h1 {
    font-size: 5rem;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 6px;
      border-radius: 4px;
      transition: all .2s;
      background: linear-gradient(to right, $sass-color 25%,$gsap-color 25%, $gsap-color 75%, $gulp-color 50%, $gulp-color 75%);
    }
  }
  h2 {
    font-size: 2rem;
  }
}

.logo-row {
  max-width: calc(100vw - 200px);
  margin: 100px auto;
  max-height: 300px;
  display: flex;
  justify-content: space-evenly;
  img {
    width: 100%;
    height: auto;
  }
}

.cta {
  display: flex;
  margin: auto;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: $white;
  background-color: $sass-color;
  padding: 1rem 2rem;
  border: 4px solid $sass-color;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: all 0.3s;
  &:hover {
    color: $sass-color;
    background-color: $white;
  }
  &:focus,
  &:active {
    background-color: $white;
    color: $sass-color;
    box-shadow: 0 0 0 4px rgba($sass-color,0.2);
  }
}