@import "variables";
@import "globals";

.img-fluid-sass {
  width: 100%;
  height: auto;
}

h2 {
  &::after {
    background-color: $sass-color;
  }
}

.col {
  ul li::before {
    background-image: url('/public/img/sass/sass.svg')!important;
  }
}